#rolled-wrapper
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#rolled-header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#rolled-body
{
  flex-grow: 1;
}
#search-input
{
    width: 100%;
    font-size: 3em;
    margin: auto;
}
#search-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-undercarriage
{
    width: 80%;
    height: 2em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    text-align: center;
}
#search-undercarriage > label
{
    padding: .2em;
    padding-right: 1em;
}
#search-results
{
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: .5em;
    margin: 2em;
    padding: .5em;
}
.search-result
{
    background-color: rgba(0, 0, 0, 0.03);
    margin: 1em;
    padding: .1em;
    min-height: 9em;
    position: relative;
}
.search-result:hover
{
    transform: scale(1.025);
}
.cover-art
{
    position: absolute;
    height: 100%;
    transform: scale(.90);
}
#rolled-footer
{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}
.location
{
    font-style: italic;
    position: absolute;
    font-size: 1.5em;
    bottom: 0em;
    right: .2em;
    width: auto !important;
    transform: translateX(0) !important;
}
.album_title
{
    font-weight: bold;
}
.mbid
{
    display: none;
}
.search-result-element
{
    width: calc(100% - 9.5em);
    transform: translateX(9.5em);
}